@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  padding: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  display: flex;
  list-style: none;
  gap: 8px;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  margin: 14px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  padding: 14px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eeeeee;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: center;
}
